* {
    margin: 0;
    padding: 0;
}

.body-class {
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds-photos%2Flanding-page&psig=AOvVaw3dKXkaCNElMVR1ftN4BjvS&ust=1685436585424000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCKinlNqSmv8CFQAAAAAdAAAAABAE") no-repeat center center/cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
    border-radius: 50px;
    height: 80px;
    padding: 20px;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.rightnav {
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}



.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 30%;
}



.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 40px;
}

.text-medium {
    font-size: 25px;
}


.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.section {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;



}

.section-Left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}



.sectionTag {
    text-align: center;
    padding: 10px;
}

.center {
    text-align: center;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}