@import  './styles/index.css' ;

Body{
  font-family: 'Fasthand';
  font-family: 'Mukta', sans-serif;
  /* height: 20000px; */
  max-width: 2000px;
  margin: 0 auto; 
  /* background-color: grey; */
}


Link{
  text-decoration: none;
  color: black;
}

.about-class{
  text-align: center;
}

